.djs-element.bpmn-addOn-highlight .djs-visual > :nth-child(1) {
  stroke: #ff9800;
  stroke-width: 4px;
  fill: rgba(255, 152, 0, 0.3);
  filter: drop-shadow(0 0 6px #ff9800);
}

.djs-connection.bpmn-addOn-highlight .djs-visual > :nth-child(1) {
  stroke: #ff9800;
  stroke-width: 4px;
}
